node_modules/
frontend/node_modules/
backend/node_modules/
frontend/build/
data/bag/*
data/base_map/*
data/editor_map/*
data/released_map/*
runtime/bin/*
*.log
.env.server

!data/bag/.gitkeep
!data/base_map/.gitkeep
!data/editor_map/.gitkeep
!data/released_map/.gitkeep
!runtime/bin/.gitkeep
